# maven
target/
!.mvn/wrapper/maven-wrapper.jar

# STS
.settings/
.classpath
.project
.apt_generated
.factorypath
.springBeans

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# temp
*.log
*.cache
*.diff
*.patch
*.tmp
*.bak

# system
*.swp
.DS_Store
Thumbs.db

